<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Playlist </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.input_sentence }}
                            </div>
                            <div class="control">
                                <button type="submit" name="playlist_button" class="button is-info">
                                    Get Playlist
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                  {% if  error %}
                    <p style='color:red;'>{{error}}</p>
                  {% endif %}
                  {% if not error %}
                  {% for track_details in arr_tracks%}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="{{track_details.image}}" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{track_details.track}}</span>
                                        <br>
                                        <span class="subtitle">{{track_details.artist}}</span>
                                        <br>
                                        <span class="subtitle"><a href='{{track_details.link}}'>{{track_details.album}}</a></span>

                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                  {% endfor %}
                  {% endif %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>
